:root {
  --easy-primary-color: #5dcc34;
  --easy-primary-font-color: #ffffff;
  --easy-primary-hover-color: #4ca428;
  --easy-secondary-color: #d5f1ca;
  --easy-secondary-font-color: #3b8222;
  --easy-secondary-hover-color: #b8d8ae;
  --easy-disabled-color: #bdbdbd;
}
