$cdn: 'https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/';

// Pretendard
@each $weight, $name in (100, 'Thin'), (200, 'ExtraLight'), (300, 'Light'), (400, 'Regular'), (500, 'Medium'),
  (600, 'SemiBold'), (700, 'Bold'), (800, 'ExtraBold'), (900, 'Black')
{
  @font-face {
    font-family: 'Pretendard';
    src:
      local('Pretendard-' + $name),
      url('#{$cdn}/font/Pretendard-' + $name + '.woff2') format('woff2'),
      url('#{$cdn}/font/Pretendard-' + $name + '.woff') format('woff');
    font-weight: $weight;
    font-display: swap;
  }
}

:root {
  --primary-color: #43a047;
  --secondary-color: #388e3c;
  --thirdary-color: #2e7d32;
  --hover-bg: #e8f5e9;
  --focus-bg: #c8e6c9;
  --active-bg: #a5d6a7;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: none;
  font-size: 10px;
}
body {
  line-height: 1.3;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  color: #212121;
}
.txt-box {
  color: var(--thirdary-color);
  background-color: var(--hover-bg);
}
